@import "style";

.fall_section {
  background: #F0EFEB;
  display: flex;
  margin: auto;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;

    @media (min-width: 1024px) and (max-width: 1110px) {
      margin: 0 15px;
    }
    @include max-screen(768px) {
      display: block;
    }


    article {
      align-items: flex-start;
      flex-direction: column;
      max-width: 465px;
      @include max-screen(1024px) {
        max-width: 400px;
      }
      @media (min-width: 428px) and (max-width: 768px) {
        max-width: 100%;
        text-align: center;
      }
      @media (min-width: 769px) and (max-width: 1023px) {
        align-items: flex-start;
        padding-left: 15px;
      }
      @include max-screen(428px) {
        padding-left: 0;
      }

      h1 {
        font: 700 60px/normal $main_font;
        color: $black_color;
        margin-bottom: 42px;
        margin-top: 90px;
        max-width: 540px;

        @include max-screen(1024px) {
          width: 75%;
        }
        @media (min-width: 769px) and (max-width: 1023px) {
          max-width: 70%;
        }
        @include max-screen(768px) {
          margin-bottom: 22px;
          padding-top: 140px;
          padding-left: 200px;
          max-width: 100%;
        }
        @media (min-width: 429px) and (max-width: 767px) {
          font-size: 50px;
          text-align: center;
          padding-left: 70px;
          max-width: 100%;
        }
        @include max-screen(428px) {
          font-size: 36px;
          text-align: center;
          padding-left: 100px;
        }
      }

      p {
        font: 400 24px/normal $main_font;
        color: $black_color;
        margin-bottom: 26px;

        @media (min-width: 428px) and (max-width: 767px) {
          max-width: 100%;
          text-align: center;
        }
        @include max-screen(768px) {
          max-width: 100%;
          text-align: center;
          margin: 0 40px 30px 40px;
        }

        @media (min-width: 769px) and (max-width: 1023px) {
          max-width: 80%;
          text-align: left;
        }
      }

      a {
        font: 400 17px/normal $main_font;
        color: #FFF;
        display: inline-flex;
        text-align: center;
        text-decoration: none;
        border-radius: 100px;
        border: 1px solid $black_color;
        background: $black_color;
        padding: 7px 23px 9px 23px;
        margin-bottom: 90px;
        transition: color 0.3s ease;

        &:hover {
          color: cadetblue;
          cursor: pointer;
          text-decoration-line: none;
        }

        @include max-screen(768px) {
          font: 400 16px/normal $main_font;
          margin-bottom: 45px;
          margin-left: 15px;
        }
        @include max-screen(428px) {
          position: relative;
          right: 0;
          margin: 0 0 30px 0;
        }
      }
    }

    .fall_img {
      max-height: 100%;
      max-width: 599px;
      position: relative;
      right: -100px;

      @media (max-width: 1024px) {
        max-width: 500px;
        right: 80px;
      }

      @media (min-width: 769px) and (max-width: 1023px) {
        position: unset;
        img:nth-child(1) {
          max-width: 450px;
        }
      }
      @media (max-width: 768px) {
        right: -100px;
        width: 100%;
      }

      @include max-screen(428px) {
        position: unset;
        img:nth-child(1) {
          max-width: 400px;
        }
      }
    }
  }
}

.our_guides {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    text-align: center;

    h2 {
      color: $black_color;
      font: 700 36px/normal $main_font;
      margin-bottom: 27px;
      padding-top: 60px;
    }

    p {
      color: $black_color;
      font: 400 20px/normal $main_font;
      margin-bottom: 47px;
      @include max-screen(428px) {
        padding-left: 30px;
        max-width: 90%;
      }
    }

    h4 {
      color: $black_color;
      font: 400 20px/normal $main_font;
      margin-bottom: 87px;
      @include max-screen(1024px) {
        margin-bottom: 40px;
      }
    }

    h3 {
      color: $black_color;
      font: 700 36px/normal $main_font;
      margin-bottom: 52px;
      @media (max-width: 834px) {
        margin-bottom: 25px;
      }
    }

    .catalogue {
      margin: auto;
      display: flex;
      align-items: center;
      margin-bottom: 248px;
      @include max-screen(768px) {
        display: block;
      }
      @include max-screen(1024px) {
        margin-bottom: 50px;
      }
      @media (max-width: 834px) {
        flex-direction: column;
      }

      .content {
        @include max-screen(768px) {
          margin-bottom: 20px;
        }
      }

      img {
        margin-bottom: 20px;
        @media (max-width: 834px) {
          padding-top: 15px;
        }
      }

      article {
        display: flex;
        max-width: 315px;
      }

      h4 {
        font: 700 17px/normal $main_font;
        color: $black_color;
        margin-bottom: 10px;
        padding: 0 100px;
      }

      p {
        font: 400 17px/normal $main_font;
        color: $black_color;
        margin-bottom: 10px;
      }

      a {
        font: 700 17px/normal $main_font;
        color: $black_color;
        text-decoration-line: underline;
        transition: color 0.3s ease;

        &:hover {
          color: cadetblue;
          cursor: pointer;
          text-decoration-line: none;
        }
      }
    }
  }
}

.people_and_society {
  background: rgba(204, 204, 204, 0.30);
  padding: 76px 0 51px 0;
  @include max-screen(428px) {
    padding: 40px 0 25px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    @include max-screen(428px) {
      flex-direction: column;
    }

    .french_people_image {
      width: 385px;

      @include max-screen(1024px) {
        margin-left: 40px
      }
      @include max-screen(768px) {
        padding-left: 20px;
      }
    }

    img {
      width: 100%;
      display: block;
      @include max-screen(428px) {
        max-width: 85%;
      }
    }
  }

  .people {
    width: 500px;
    display: block;
    align-items: center;
    margin-left: 50px;
    @include max-screen(1024px) {
      max-width: 500px;
    }
    @include max-screen(428px) {
      margin: 0;
      text-align: center;
      max-width: 300px;
    }


    h2 {
      font: 700 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 30px;
      @include max-screen(428px) {
        margin: 15px 0;
      }
    }

    p {
      font: 400 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 40px;
      @include max-screen(800px) {
        font: 400 26px/normal $main_font;
        padding-right: 20px;
      }
      @include max-screen(768px) {
        font: 400 26px/normal $main_font;
        padding-right: 20px;
      }
      @include max-screen(428px) {
        padding-right: 0;
        font: 400 20px/normal $main_font;
        margin-bottom: 15px;
      }
    }

    a {
      font: 700 17px/normal $main_font;
      color: $black_color;
      text-decoration-line: underline;
      transition: color 0.3s ease;

      &:hover {
        color: cadetblue;
        cursor: pointer;
        text-decoration-line: none;
      }
    }
  }
}

.culture_and_heritage {
  background: rgba(204, 204, 204, 0.60);
  padding: 76px 0 51px 0;
  @include max-screen(428px) {
    padding: 40px 0 25px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    @include max-screen(428px) {
      flex-direction: column;
    }

    .moroccan_culture_image {
      width: 385px;
      @include max-screen(1024px) {
        margin-right: 40px
      }
      @include max-screen(768px) {
        padding-right: 20px;
      }
      @include max-screen(428px) {
        order: -1;
        margin: 0;
      }
    }

    img {
      width: 100%;
      display: block;
      @include max-screen(428px) {
        max-width: 85%;
        margin-left: 40px;
      }
    }
  }

  .culture {
    width: 500px;
    display: block;
    align-items: center;
    text-align: right;
    margin-right: 50px;
    @include max-screen(1024px) {
      max-width: 500px;
    }
    @include max-screen(428px) {
      margin: 0;
      text-align: center;
      max-width: 300px;
    }

    h2 {
      font: 700 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 31px;
      @include max-screen(428px) {
        margin: 15px 0;
      }
    }

    p {
      font: 400 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 40px;
      @include max-screen(800px) {
        font: 400 26px/normal $main_font;
        padding-left: 20px;
      }
      @include max-screen(768px) {
        font: 400 26px/normal $main_font;
        padding-left: 20px;
      }
      @include max-screen(428px) {
        padding: 0;
        font: 400 20px/normal $main_font;
        margin-bottom: 15px;
      }
    }

    a {
      font: 700 17px/normal $main_font;
      color: $black_color;
      text-decoration-line: underline;
      transition: color 0.3s ease;

      &:hover {
        color: cadetblue;
        cursor: pointer;
        text-decoration-line: none;
      }
    }
  }
}

.power_and_politics {
  background: rgba(204, 204, 204, 0.30);
  padding: 76px 0 51px 0;
  @include max-screen(428px) {
    padding: 40px 0 25px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    @include max-screen(428px) {
      flex-direction: column;
    }

    .german_power_image {
      width: 385px;

      @include max-screen(1024px) {
        margin-left: 40px
      }
      @include max-screen(768px) {
        padding-left: 20px;
      }

      img {
        width: 100%;
        display: block;
        @include max-screen(428px) {
          max-width: 85%;
        }
      }
    }
  }

  .power {
    width: 500px;
    display: block;
    align-items: center;
    margin-left: 50px;
    @include max-screen(428px) {
      margin: 0;
      text-align: center;
      max-width: 300px;
    }

    h2 {
      font: 700 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 31px;
      @include max-screen(428px) {
        margin: 15px 0;
      }
    }

    p {
      font: 400 36px/normal $main_font;
      color: $black_color;
      margin-bottom: 40px;
      @include max-screen(800px) {
        font: 400 26px/normal $main_font;
        padding-right: 20px;
      }
      @include max-screen(768px) {
        font: 400 26px/normal $main_font;
        padding-right: 20px;
      }
      @include max-screen(428px) {
        padding-right: 0;
        font: 400 20px / normal main_font;
        margin-bottom: 15px;
      }
    }

    a {
      font: 700 17px/normal $main_font;
      color: $black_color;
      text-decoration-line: underline;
      transition: color 0.3s ease;

      &:hover {
        color: cadetblue;
        cursor: pointer;
        text-decoration-line: none;
      }
    }
  }
}

.some_of_the_features {
  background: $white_color;

  .container {
    h4 {
      font: 400 36px/normal $main_font;
      color: $black_color;
      padding-top: 190px;
      margin-bottom: 69px;
      text-align: center;
      @include max-screen(768px) {
        padding-top: 80px;
        margin-bottom: 30px;
      }
      @include max-screen(428px) {
        font-size: 30px;
      }
    }

    .point {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;

      .circle {
        width: 33%;
        font: 700 30px/normal $main_font;
        color: $black_color;
        margin-bottom: 111px;
        @include max-screen(768px) {
          width: 50%;
          margin-bottom: 50px;
        }
        @include max-screen(428px) {
          width: 100%;
          margin-bottom: 30px;
        }

        &:before {
          content: "";
          display: block;
          margin: auto;
          width: 70px;
          height: 70px;
          border-radius: 50%;
          background: #21F7EC;
          margin-bottom: 26px;
        }

        &:nth-child(2):before {
          background: #33D3BC;
        }

        &:nth-child(3):before {
          background: #18A5C6;
        }

        &:nth-child(4):before {
          background: #D38F62;
        }

        &:nth-child(5):before {
          background: #F94C43;
        }

        &:last-child:before {
          background: #D399FF;
        }
      }
    }
  }
}

.thalby_guide {
  background: linear-gradient(to bottom, $white_color 50%, #F0F0F0 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  @include max-screen(768px) {
    background: linear-gradient(to bottom, $white_color 50%, #F0F0F0 50%);

  }

  .container {
    text-align: center;

    h3 {
      color: $black_color;
      font: 700 36px/normal $main_font;
      margin-bottom: 102px;
      padding-top: 52px;
      @include max-screen(768px) {
        font-size: 30px;
      }
      @include max-screen(428px) {
        font-size: 28px;
      }
    }

    .discover {
      margin: auto;
      display: flex;
      align-items: center;
      @include max-screen(768px) {
        display: block;
      }

      .content {
        max-width: 360px;
        margin-bottom: 52px;
        @include max-screen(768px) {
          margin-bottom: 20px;
          display: block;
          max-width: 720px;
        }
      }

      img {
        margin-bottom: 35px;
        max-width: 100%;
      }

      h4 {
        font: 700 22px/normal $main_font;
        color: $black_color;
        margin-bottom: 40px;
        padding: 0 50px;
        @include max-screen(428px) {
          font-size: 20px;
        }
      }

      p {
        font: 400 19px/normal $main_font;
        color: $black_color;
        margin-bottom: 44px;
      }

      a {
        font: 700 18px/normal $main_font;
        color: $black_color;
        text-decoration-line: underline;
        transition: color 0.3s ease;

        &:hover {
          color: cadetblue;
          cursor: pointer;
          text-decoration-line: none;
        }
      }
    }
  }
}

.subscribe {
  background: $white_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include max-screen(428px) {
      max-width: 80%;
    }

    h3 {
      font: 700 36px/normal $main_font;
      padding-top: 80px;
      margin-bottom: 10px;
      @include max-screen(428px) {
        padding-top: 40px;
      }
    }

    p {
      font: 700 17px/normal $main_font;
      margin-bottom: 25px;
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .name_input {
        display: flex;
        gap: 60px;
        position: relative;
      }

      .email {
        width: 366px;
        margin: 15px 0;
      }

      .fn,
      .ln {
        width: 153px;
      }

      label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        font: 400 14px/normal $main_font;
        color: transparent;
        pointer-events: none;
        transition: all 0.3s ease;
      }

      input {
        width: 100%;
        border: 1px solid $black_color;
        padding: 12px 0 11px 8px;
        position: relative;
        z-index: 1;
      }

      input:focus + label {
        transform: translateY(-150%);
        font-size: 12px;
        color: $black_color;
        }

      &::placeholder {
        color: transparent;
        font: 400 14px/normal $main_font;
      }
    }

    button {
      width: 115px;
      height: 33px;
      border-radius: 20px;
      background-color: $black_color;
      color: $white_color;
      text-align: center;
      font: 400 14px/normal $main_font;
      padding: 7px 23px 10px;
      border: none;
      cursor: pointer;
      margin-bottom: 88px;
      transition: color 0.3s ease;

      &:hover {
        color: cadetblue;
        cursor: pointer;
        text-decoration-line: none;
      }
    }
  }
}













