$black_color:#000;
$white_color:white;
$main_font:'Roboto', sans-serif;
@import "header";
@import "main";
@import "footer";
@import "media.css";
* {
  padding: 0;
  margin: 0; }

.container{
  max-width: 1064px;
  margin: auto;
}
.fall_section {
  background: #F0EFEB;
  display: flex;
  margin: auto;
  align-items: center;
}

.fall_section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fall_section article {
  align-items: flex-start;
  flex-direction: column;
}

.fall_section article h1 {
  font: 700 60px/normal $main_font;
  color: $black_color;
  margin-bottom: 42px;
  margin-top: 90px;
  max-width: 535px;
}

.fall_section article p {
  font: 400 24px/normal $main_font;
  color: $black_color;
  margin-bottom: 26px;
}

.fall_section article a {
  font: 400 17px/normal $main_font;
  color: #FFF;
  display: inline-flex;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid $black_color;
  background: $black_color;
  padding: 7px 23px 9px 23px;
  margin-bottom: 90px;
}

.fall_img {
  max-height: 100%;
  max-width: 599px;
  position: relative;
  right: -100px;
}

.our_guides {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our_guides .container {
  text-align: center;
}

.our_guides h2 {
  color: $black_color;
  font: 700 36px/normal $main_font;
  margin-bottom: 27px;
  padding-top: 60px;
}

.our_guides p {
  color: $black_color;
  font: 400 20px/normal $main_font;
  margin-bottom: 47px;
}

.our_guides h4 {
  color: $black_color;
  font: 400 20px/normal $main_font;
  margin-bottom: 87px;
}

.our_guides h3{
  color: $black_color;
  font: 700 36px/normal $main_font;
  margin-bottom: 52px;

}

.catalogue {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 248px;
}

.catalogue img {
  margin-bottom: 20px;
}

.catalogue article {
  display: flex;
  max-width: 315px;
}

.catalogue h4 {
  font: 700 17px/normal $main_font;
  color: $black_color;
  margin-bottom: 10px;
  padding: 0 100px;

}

.catalogue p {
  font: 400 17px/normal $main_font;
  color: $black_color;
  margin-bottom: 10px;
}

.catalogue a {
  font: 700 17px/normal $main_font;
  color: $black_color;
  text-decoration-line: underline;
}

