@import "variables";
//@import "header.css";
//@import "main.css";
//@import "footer.css";
//@import "variables";

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1064px;
  margin: auto;
  align-items: center;
}